body{
/* background-color:rgb(19, 1, 12); */
margin: 0px;
font-family:"Poppins",sans-serif;
}
#form
{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
width: 400px;
background-color: rgb(81, 217, 255);
border-radius: 5px;
padding: 30px;}
h1{
text-align: center;
color: rgb(23, 72, 218);
}
#form button{
background-color: rgb(50, 20, 202);
color: #fff;
border: 1px solid rgb(6, 223, 248);
padding: 10px;
margin: 20px 0px;
border-radius: 5px;
cursor: pointer;
font-size: 20px;
width: 100%;

}

.input-group{
display: flex;

flex-direction: column;
margin-bottom: 15px;
}
.input-group input{
border-radius: 5px;
font-size: 20px;
margin-top: 5px;
padding: 5px;
border: 2px solid rgb(80, 114, 251);
}
.input-group input:focus{
    outline: 0;
}
.input-group .error{
color: rgb(227, 50, 247);
font-size: 16px;
margin-top: 5px;
}
.input-group.success input{
border-color: #0cc477;
}
